header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  .logo {
    font-weight: 100;
    margin: 0;
    img {
      width: 40px;
      margin-right: 1rem;
    }
  }
  .socials {
    a {
      width: 40px;
      height: 40px;
      color: white;
      border: 2px solid white;
      border-radius: 100%;
      padding: 10px;
      margin: 5px;
      text-align: center;
      opacity: 0.5;
      transition: ease-in-out 0.2s;
      &:hover {
        opacity: 1;
      }
    }
  }
  @media only screen and (max-width: 576px) {
    & {
      flex-flow: column wrap;
      .logo {
        margin-bottom: 2rem;
      }
    }
  }
}
