//Fuente
$openSans: "Open Sans", sans-serif;
//Colores base
$accent-b: hsl(0, 0%, 0%);
$accent-w: hsl(0, 0%, 100%);
$blue-night: hsl(210, 29%, 24%);
$shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, 0.2);
//Menú
$turquesa: hsl(168, 76%, 42%);
$verde: hsl(168, 76%, 36%);
$violeta: hsl(282, 44%, 47%);
