//  Diseño de Agency 1.1 by Alexander Celis - @d0nCelis -
//Licencia - Creative Commons (CC) - Permitido con fines educativos
@import "./components/variables";

//Formatear
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

::selection {
  color: $blanco;
  background: $seleccion;
}

body {
  font-family: $openSans;
  width: 100%;
	background: $azulMedianoche;
	height: 100vh;
}
a:hover, a:focus, a:visited{
	text-decoration: none;
}

//Hojas externas
@import "./components/inicio";
//@import "./components/nosotros";
//@import "./components/habilidades";
//@import "./components/responsive";
